@model IEnumerable<PetInsta.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="header-container">
    <h1>Posts</h1>
    <button class="create-button" onclick="location.href='@Url.Action("Create", "Posts")'">Create New Post</button>
</div>

<div class="highlight-post">
	@foreach (var item in Model.OrderByDescending(model => model.Likes)) {
        @if (Model.OrderByDescending(model => model.Likes).First() == item)
        {
            <div class="pet-box-post-highlight">    
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="pet-image-post-highlight"/>
                <div class="pet-items-highlight">        
                    <label class="pet-name">@Html.DisplayFor(modelItem => item.Title) </label> <br />
                    <div class="selection-items">
                        <button class="pet-button-highlight" onclick="location.href='@Url.Action("Details", "Pets", new {id = item.Pet})'">@Html.DisplayFor(modelItem => item.Author)</button>
                        <div class="like-button-out-post">
                            <label class="likes-count-out-post">@Html.DisplayFor(modelItem => item.Likes)</label>                
                            <img src="https://clipart-library.com/images/di9KjrgpT.png" class="like-image-out-post"/>
                        </div>
                        <button class="more-button" onclick="location.href='@Url.Action("Details", "Posts", new {id = item.PostId})'">More...</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="card-container">
    @foreach (var item in Model.OrderByDescending(model => model.Likes)) {
        @if (Model.OrderByDescending(model => model.Likes).First() != item)
        {
            <div class="pet-box-post">    
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="pet-image-post"/>
                <div class="pet-items">        
                    <label class="pet-name">@Html.DisplayFor(modelItem => item.Title) </label> <br />
                    <div class="selection-items">
                        <button class="pet-button" onclick="location.href='@Url.Action("Details", "Pets", new {id = item.Pet})'">@Html.DisplayFor(modelItem => item.Author)</button>
                        <div class="like-button-out-post">
                            <label class="likes-count-out-post">@Html.DisplayFor(modelItem => item.Likes)</label>                
                            <img src="https://clipart-library.com/images/di9KjrgpT.png" class="like-image-out-post"/>
                        </div>
                        <button class="more-button" onclick="location.href='@Url.Action("Details", "Posts", new {id = item.PostId})'">More...</button>
                    </div>
                </div>

            </div>
        }
    }
</div>
