@model PetInsta.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<div style="align-items: center; text-align: center; justify-content: center;">
    <h1>About</h1>

    <div>
        <img src="@Html.DisplayFor(model => model.ProfilePhotoUrl)" class="pet-image"/>
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <hr />
        Description:<br /><h3><q>@Html.DisplayFor(model => model.Description)</q></h3> <br />
        <div class="comment"><b>Author Says:</b> @Html.DisplayFor(model => model.Comments)</div> <br />
		<div style="position: relative; width: 100%; padding-bottom: 10px;">
        @using (Html.BeginForm("Like", "Pets", FormMethod.Post))
		{
			@Html.Hidden("id", Model.Id)
			<div class="like-button">
				<label class="likes-count">@Html.DisplayFor(modelItem => Model.Likes)</label>
				<img src="https://clipart-library.com/images/di9KjrgpT.png" class="like-image" />
			</div>
			<input type="submit" value="" class="like-button-submit" style="border: none; background-color: transparent; position: absolute; width: 50px; height: 50px; position: absolute; top: 20px; left: 49%;" />
		}
		</div>
		<div class="card-container">
			@foreach (var item in ViewBag.Posts)
			{
                @if (item.Pet == Model.Id)
                {
                    <div class="pet-box">    
						<img src="@item.ImageUrl" class="pet-image"/>
						<div class="pet-items">        
							<label class="pet-name">@item.Title </label> <br />
							<div class="selection-items">
								<button class="more-button-in" onclick="location.href='@Url.Action("Details", "Posts", new {id = item.PostId})'">More...</button>
							</div>
						</div>
					</div>
                }
			}
        </div>
        <br />
    </div>
    <div>
        <a asp-action="Index">Back to Pets</a>
    </div>
</div>
